<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="assets/logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Prodavnica</a></li>
        <li><a href="#">Popusti i akcije</a></li>
        <li><a href="#">Kontakt</a></li>
        <li><a href="#">O nama</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Nalog</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Korpa</a></li>
      </ul>
    </div>
  </div>
</nav>
