a,
a:focus,
a:hover {
  color: black;
}
.btn-default,
.btn-default:hover,
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: black;
  text-shadow: none;
  background-color: gray;
  border: 1px solid white;
  border-radius: 15px;
}
html,
body {
  height: 100%;
}
body {
  text-align: center;
}


.cover-container {
  margin-right: auto;
  margin-left: auto;
}
/* Padding for spacing */
.inner {
  padding: 30px;
}

footer{

   background-color:#415982;
   min-height:200px;
   border-radius: 30px;
   color:white;
   mfont-family: 'Open Sans', sans-serif;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }




 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}


 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: black;
  color: rgba(255, 255, 255, 0.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255, 255, 255, 0.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: black;
  border-bottom-color: white;
}
@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}
.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  .hero-wrapper-inner {
    vertical-align: middle;
  }
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.form-group{
  margin-left: 735px;
 width: 200px;

}




.navbar {
    position: relative;
    min-height: 20px;
    width: 100%;
    background-color: #629EB3;
    border-radius: 30px;

    border: 1px solid transparent;
}


element.style {
}

.rooms .textComponent, .rooms .tile.tile01a .tileInner, .rooms .crossSell, .rooms .menuListDesktop, .rooms .menuListMobile {
    background: url(/kws/images/background/motif-rooms.png?1458296105) repeat left top #f7eedd;
}

.crossSell {
    display: block;
}

.crossSell {
    background-color: #f0f4f5;
    padding: 25px 0;
    position: relative;
    overflow: hidden;
    display: none;
}

.copyright{
  background-color: #101010;
  color:white;
  height: 30px;
}


.form.control{
  width: 200px;
}

.btn btn-default1{
  position: fixed;
}

import "bourbon";

body {
  background: #eee !important;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

  .form-signin-heading,
  .checkbox {
    margin-bottom: 30px;
  }

  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.btn-primary {
    color: #fff;
    background-color:black;
    border-color: #2e6da4;
}
.m-t-10 {
    margin-top: 10px;
    }

    .container-fluid{
      background-color: #415982;
    }

    .social-icons{
      color:white;
      font-size: 30px;
    }

    ul {
  list-style-type: none;
}
